html{
    height: 100%;
    font-family: 'Jua', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-size: 100%;
}
